{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card ">
                <h5 class="card-header text-center">{{ current_user.name }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <strong>{{ current_user.email }}</strong>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-9">
                                Default City
                                <br>
                                <strong>{{ current_user.city }}</strong>
                            </div>
                            <div class="col-3">
                                <a type="button" class="btn btn-warning" data-toggle="modal"
                                   data-target="#admin_modal" data-type="{{ form.EDIT_DEFAULT_CITY }}"
                                   data-title="Edit City">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-9">
                                Default Hotel View
                                <br>
                                <strong>{{ current_user.hotel }}</strong>
                            </div>
                            <div class="col-3">
                                <a type="button" class="btn btn-warning" data-toggle="modal"
                                   data-target="#admin_modal" data-type="{{ form.EDIT_DEFAULT_HOTEL }}"
                                   data-title="Edit Hotel">
                                    <span class="oi oi-pencil"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header text-center">
                    {{ current_user.city }} Hotels
                    <a type="button" class="btn btn-success text-white" data-toggle="modal"
                       data-target="#admin_modal" data-type="{{ form.NEW_HOTEL }}"
                       data-title="New Hotel in {{ current_user.city }}">
                        <span class="oi oi-plus" title="plus"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for hotel in form.hotels %}
                        <li class="list-group-item {{ hotel.display_default }}">
                            <div class="row">
                                <div class="col-8">
                                    <strong>{{ hotel.name }}</strong>
                                    <br>
                                    <strong>{{ hotel.ballrooms|length }}</strong> ball rooms
                                    <strong>{{ hotel.competitions|length }}</strong> hotels
                                </div>
                                <div class="col-4 text-right">
                                    <a class="btn btn-primary" href="{{ url_for('hotel_manage', hotel_id=hotel.id) }}">
                                        <span class="oi oi-target" title="target"></span>
                                    </a>
                                    <a type="button" class="btn btn-danger text-white {{ hotel.display_delete }}"
                                       data-toggle="modal" data-target="#admin_modal" data-hotel="{{ hotel.name }}"
                                       data-type="{{ form.DELETE_HOTEL }}" data-title="Delete Hotel">
                                        <span class="oi oi-x" title="x"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="admin_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Placeholder Title</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="form" method="POST" id="edit-form">
                        {{ form.form_type() }}
                        {{ form.delete_hotel() }}
                        <div id="hotel-select">
                            {{ form_group_no_error(form.default_hotel) }}
                        </div>
                        <div id="city-select">
                            {{ form_group_no_error(form.default_city) }}
                        </div>
                        <div id="new-hotel">
                            {{ form_group_no_error(form.new_hotel) }}
                        </div>
                        <div id="comment">
                            Placeholder comment
                        </div>
                        {{ form.csrf_token() }}
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <button type="button" class="btn" id="save-button">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#save-button").on("click", () => {
            document.forms["edit-form"].submit()
        });
        $("#admin_modal").on("show.bs.modal", function (event) {
            let form_type = $(event.relatedTarget).data("type")
            let hotel = $(event.relatedTarget).data("hotel")
            let title = $(event.relatedTarget).data("title")
            $(this).find(".modal-title").text(title)
            $(this).find("#form_type").val(form_type)
            $(this).find("#delete_hotel").val(hotel)
            if (form_type === "delete_hotel") {
                $(this).find("#comment").text("Are you sure you want to delete " + hotel + "?")
                $(this).find("#save-button").addClass("btn-danger").removeClass("btn-warning").html("Delete")
            } else {
                $(this).find("#comment").text("")
                $(this).find("#save-button").addClass("btn-warning").removeClass("btn-danger").html("Save")
            }
            if (form_type === "hotel") {
                $(this).find("#hotel-select").show()
                $(this).find("#city-select").hide()
                $(this).find("#new-hotel").hide()
            } else if (form_type === "city") {
                $(this).find("#city-select").show()
                $(this).find("#hotel-select").hide()
                $(this).find("#new-hotel").hide()
                $(this).find("#comment").text("If you change the city then your hotel will be reset.")
            } else if (form_type === "new_hotel") {
                $(this).find("#new-hotel").show()
                $(this).find("#city-select").hide()
                $(this).find("#hotel-select").hide()
            } else if (form_type === "delete_hotel") {
                $(this).find("#new-hotel").hide()
                $(this).find("#city-select").hide()
                $(this).find("#hotel-select").hide()
            }
        })
    </script>
{% endblock %}