{% extends "base.html" %}

{%- macro quick_form(form) -%}
    <form class="form" method="POST">
        {%- for field in form %}
            {{ render_field(field) }}
        {%- endfor %}
    </form>
{%- endmacro %}

{%- block app_content %}
    <div class="row">
        <div class="col-md-8">
            {% if name %}
                <a class="btn btn-primary btn-block" href="{{ name_url }}">
                    {{ name }}
                </a>
            {% else %}
                <h2>{{ title }}</h2>
            {% endif %}
        </div>
        {% if cancel_url %}
            <div class="col-md-4">
                <a class="btn btn-primary btn-block"
                   href="{{ cancel_url }}">
                    Cancel
                </a>
            </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-md-8">
            {{ quick_form(form) }}
        </div>
    </div>
{%- endblock %}

