{% extends "base.html" %}

{% block app_content %}
    <div>
        <ul id="slider">
            <li>
                <img src="{{ url_for('static', filename='slider/slides/1.jpg') }}" alt="Slide 1" class="img-fluid">
                <div class="slide-desc"></div>
            </li>
            <li>
                <img src="{{ url_for('static', filename='slider/slides/2.jpg') }}" alt="Slide 2" class="img-fluid">
                <div class="slide-desc"></div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md ">
            <div class="section-title ">
                <h2 class="text-center">About Us</h2>
                <p>Welcome to Focus Solutions, your number one source for all the data you require of Competition
                    Hotels.
                    We're dedicated to providing you with the most accurate Reader Board data of hotels,
                    with a focus on dependability, accuracy and uniqueness.</p>
                <p> Reader Board services help hotels to compare and understand the market scenario and assists
                    their marketing needs. The Reader Board Activity was first started in 2002 and was well known in the
                    hotel industry as the 'Ikon Report'. When partners decided to move on their own paths,
                    Punit Shah took over the Reader Board Activity under Focus Solutions from 2009 onwards. </p>
                <p>Focus Solutions has come a long way from its beginnings in a home office in Andheri, Mumbai.
                    Over the years, Focus Solutions have become the No. 1 source for reader board services to cities
                    across India. Focus Solutions's dedication in data collection and providing quality data to
                    hotels has helped hotels to analyze and understand their key clientele. </p>
                <p>We have been changing the ways we do our business and have embraced modern technologies.
                    We are happy to introduce Focus Banquet Reports, an online platform that provides accurate banquet
                    information to
                    all hotels in India with rich set of reporting features.</p>
                <p>We hope you enjoy our services as much as we enjoy offering them to you. If you have any questions
                    or comments, please don't hesitate to contact us.</p>
            </div>
        </div>
    </div>
    <section id="portfolio" class="dark-bg">
        <div class="container">
            <br>
            <br>
            <div class="row" style="border-bottom:1px solid #fff;border-top:1px solid #fff;">
                <div class="col-md">
                    <div class="section-title">
                        <p style="margin:20px 0; color:#fff;">
                        <h5>Contact us</h5><br>
                        <div>
                            <h6>Focus Solutions</h6>
                            CG-04, Ground Floor, Swapnalok Apartment CHS Limited,<br>
                            Mogra Lane, Andheri (E), Mumbai - 400069, India
                        </div>
                        <br>
                        <div>
                            <h6>Mr Punit Shah</h6>
                            +91 98202 82246
                        </div>
                        <br>
                        <div>
                            punit@focussolutions.in
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size:12px;">
                <div class="col-md text-left">
                    <a href="{{ url_for('privacy_policy') }}" style="color: white">Privacy Policy</a>
                </div>
                <div class="col-md text-right">
                    © 2022 - All Rights Reserved
                </div>
            </div>
            <br>
        </div>
    </section>
    <br>
{% endblock %}