{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">
                    {{ hotel.name }}
                    <a type="button" class="btn btn-warning" data-toggle="modal"
                       data-target="#hotel_modal" data-type="{{ form.INITIAL }}"
                       data-title="Edit Initial">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Email<br>
                        {% if hotel.email %}
                            <strong>{{ hotel.email }}</strong>
                        {% else %}
                            No email
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        City<br>
                        <strong>{{ hotel.city }}</strong>
                    </li>
                    <li class="list-group-item">
                        Initial
                        <br>
                        <strong>{{ hotel.initial }}</strong>
                    </li>
                    <li class="list-group-item">
                        Contract
                        <br>
                        Start Date: <strong>{{ hotel.formatted_contract[0] }}</strong>
                        <br>
                        End Date: <strong>{{ hotel.formatted_contract[1] }}</strong>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <h5 class="card-header text-center">
                    Ballrooms
                    <a type="button" class="btn btn-success text-white" data-toggle="modal"
                       data-target="#hotel_modal" data-type="{{ form.NEW_BALLROOM }}"
                       data-title="New Ballroom">
                        <span class="oi oi-plus"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for ballroom in hotel.ballrooms %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <h6>{{ ballroom }}</h6>
                                </div>
                                <div class="col text-right">
                                    <a type="button" class="btn btn-warning {{ hotel.display_ballroom(ballroom) }}"
                                       data-toggle="modal" data-target="#hotel_modal"
                                       data-type="{{ form.EDIT_BALLROOM }}"
                                       data-title="Edit Ballroom {{ ballroom }}" data-ballroom="{{ ballroom }}">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                    <a type="button"
                                       class="btn btn-danger text-white {{ hotel.display_ballroom(ballroom) }}"
                                       data-toggle="modal" data-target="#hotel_modal"
                                       data-type="{{ form.REMOVE_BALLROOM }}"
                                       data-title="Remove Ballroom" data-ballroom="{{ ballroom }}">
                                        <span class="oi oi-x"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">
                    Default Hotels
                    <a type="button" class="btn btn-warning" data-toggle="modal"
                       data-target="#hotel_modal" data-type="{{ form.COMPETITION }}"
                       data-title="Select Other Hotels">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for hotel in hotel.competitions %}
                        <li class="list-group-item">{{ hotel }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="hotel_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Placeholder Title</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="form" method="POST" id="hotel-form">
                        {{ form.form_type() }}
                        {{ form.old_ballroom() }}
                        <div id="edit-initial">
                            {{ form_group_no_error(form.initial) }}
                            {{ form_group_no_error(form.start_date) }}
                            {{ form_group_no_error(form.end_date) }}
                        </div>
                        <div id="edit-ballroom">
                            {{ form_group_no_error(form.ballroom) }}
                        </div>
                        <div id="select-hotel">
                            {{ form_group_no_error(form.competitions) }}
                        </div>
                        <div id="comment">
                            Placeholder comment
                        </div>
                        {{ form.csrf_token() }}
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <button type="button" class="btn btn-warning" id="save-button">Placeholder</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#save-button").on("click", () => {
            document.forms["hotel-form"].submit()
        });
        $("#hotel_modal").on("show.bs.modal", function (event) {
            let form_type = $(event.relatedTarget).data("type")
            let title = $(event.relatedTarget).data("title")
            let old_ballroom = $(event.relatedTarget).data("ballroom")
            $(this).find(".modal-title").text(title)
            $(this).find("#form_type").val(form_type)
            if (form_type === "remove_ballroom") {
                $(this).find("#comment").text("Are you sure you want to remove " + old_ballroom + "?")
                $(this).find("#save-button").addClass("btn-danger").removeClass("btn-warning").html("Delete")
            } else {
                $(this).find("#comment").text("")
                $(this).find("#save-button").addClass("btn-warning").removeClass("btn-danger").html("Save")
            }
            if (form_type === "hotel") {
                $(this).find("#select-hotel").show()
                $(this).find("#edit-ballroom").hide()
                $(this).find("#edit-initial").hide()
            } else if (form_type === "initial") {
                $(this).find("#edit-initial").show()
                $(this).find("#select-hotel").hide()
                $(this).find("#edit-ballroom").hide()
            } else if (form_type === "new_ballroom") {
                $(this).find("#edit-ballroom").show()
                $(this).find("#ballroom").val("")
                $(this).find("#select-hotel").hide()
                $(this).find("#edit-initial").hide()
            } else if (form_type === "edit_ballroom") {
                $(this).find("#edit-ballroom").show()
                $(this).find("#ballroom").val(old_ballroom)
                $(this).find("#select-hotel").hide()
                $(this).find("#edit-initial").hide()
                $(this).find("#old_ballroom").val(old_ballroom)
            } else if (form_type === "remove_ballroom") {
                $(this).find("#edit-ballroom").hide()
                $(this).find("#select-hotel").hide()
                $(this).find("#edit-initial").hide()
                $(this).find("#old_ballroom").val(old_ballroom)
            }
        })
    </script>
{% endblock %}