{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">
                    {{ hotel.name }}
                    <a type="button" class="btn btn-warning" data-toggle="modal"
                       data-target="#hotel-modal" data-type="{{ form.EDIT_HOTEL }}"
                       data-title="Edit Hotel Details" title="Edit Hotel Details">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Name<br>
                        <div class="font-weight-bold" id="edit-full-name">
                            {{ hotel.full_name }}
                        </div>
                        {% if not hotel.full_name %}
                            No Full Name
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Company Name<br>
                        <div class="font-weight-bold" id="edit-company">
                            {{ hotel.company }}
                        </div>
                        {% if not hotel.company %}
                            No Company Name
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Contract<br>
                        <div class="row">
                            <div class="col">
                                Start Date<br>
                                <div class="font-weight-bold" id="edit-start-date">
                                    {{ hotel.formatted_contract[0] }}
                                </div>
                            </div>
                            <div class="col">
                                End Date<br>
                                <div class="font-weight-bold" id="edit-end-date">
                                    {{ hotel.formatted_contract[1] }}
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Address<br>
                        <strong>{{ hotel.full_address }}</strong>
                        <div class="d-none" id="edit-address">{{ hotel.address }}</div>
                        <div class="d-none" id="edit-pin-code">{{ hotel.pin_code }}</div>
                    </li>
                    <li class="list-group-item">
                        Banquet area:
                        <span class="font-weight-bold" id="edit-banquet-area">
                            {{ hotel.banquet_area }} square feet
                        </span>
                    </li>
                    <li class="list-group-item">
                        Star Category:
                        <span class="font-weight-bold" id="edit-star-category">
                            {{ hotel.star_category }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        Registration Details<br>
                        <div class="row">
                            <div class="col">
                                {% if hotel.pan %}
                                    PAN Number<br>
                                {% else %}
                                    No PAN Number
                                {% endif %}
                                <div class="font-weight-bold" id="edit-start-date">
                                    {{ hotel.pan }}
                                </div>
                            </div>
                            <div class="col">
                                {% if hotel.gst %}
                                    GST Number<br>
                                {% else %}
                                    No GST Number
                                {% endif %}
                                <div class="font-weight-bold" id="edit-start-date">
                                    {{ hotel.gst }}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
            <div class="card text-center">
                <h5 class="card-header">
                    Contract
                    {% if hotel.contract_file %}
                        <a type="button" class="btn btn-danger text-white" data-toggle="modal"
                           data-target="#hotel-modal" title="Delete Contract File"
                           data-type="{{ form.DELETE_CONTRACT }}" data-title="Delete Contract File">
                            <span class="oi oi-trash"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-success text-white" title="Attach a pdf file" id="upload-contract-file">
                            <span class="oi oi-cloud-upload"></span>
                        </a>
                        <form class="form" method="POST" enctype="multipart/form-data" id="upload-form">
                            {{ form.form_type(value=form.UPLOAD_CONTRACT) }}
                            {{ form.csrf_token() }}
                            {{ form.contract_filename(class_="d-none") }}
                        </form>
                    {% endif %}
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {% if hotel.contract_file %}
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-primary btn-block text-white" target="_blank"
                                       title="View in a new tab"
                                       href="{{ url_for('download', filename=hotel.contract_filename, extension=hotel.FILE_EXTENSION) }}">
                                        <span class="oi oi-document"></span> View
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-primary btn-block text-white" title="Download the pdf file"
                                       href="{{ url_for('download', filename=hotel.contract_filename, extension=hotel.FILE_EXTENSION, attachment=True, new_filename=hotel.contract_new_filename) }}">
                                        <span class="oi oi-cloud-download"></span> Download
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            No contract file attached
                        {% endif %}
                    </li>
                </ul>
            </div>
            <br>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <h5 class="card-header text-center">
                    Ballrooms
                    <a type="button" class="btn btn-success text-white" data-toggle="modal"
                       data-target="#hotel-modal" data-type="{{ form.NEW_BALLROOM }}" title="Add a new ballroom"
                       data-title="New Ballroom">
                        <span class="oi oi-plus"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for ballroom in hotel.ballrooms %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <h6>{{ ballroom }}</h6>
                                </div>
                                <div class="col text-right">
                                    <a type="button" class="btn btn-warning {{ hotel.display_ballroom(ballroom) }}"
                                       data-toggle="modal" data-target="#hotel-modal"
                                       data-type="{{ form.EDIT_BALLROOM }}" title="Edit ballroom name"
                                       data-title="Edit Ballroom {{ ballroom }}" data-ballroom="{{ ballroom }}">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                    <a type="button"
                                       class="btn btn-danger text-white {{ hotel.display_ballroom(ballroom) }}"
                                       data-toggle="modal" data-target="#hotel-modal"
                                       data-type="{{ form.REMOVE_BALLROOM }}" title="Delete the ballroom"
                                       data-title="Remove Ballroom" data-ballroom="{{ ballroom }}">
                                        <span class="oi oi-trash"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">
                    Primary Comp Set
                    <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#hotel-modal"
                       data-type="{{ form.EDIT_PRIMARY_HOTEL }}" data-title="Select Primary Hotels"
                       title="Change Primary Comp Set">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for hotel in hotel.primary_hotels %}
                        <li class="list-group-item">{{ hotel }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
            <div class="card text-center">
                <h5 class="card-header">
                    Secondary Comp Set
                    <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#hotel-modal"
                       data-type="{{ form.EDIT_SECONDARY_HOTEL }}" data-title="Select Secondary Hotels"
                       title="Change Secondary Comp Set">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    {% for hotel in hotel.secondary_hotels %}
                        <li class="list-group-item">{{ hotel }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="hotel-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Placeholder Title</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="form" method="POST" id="hotel-form">
                        {{ render_field(form.form_type) }}
                        {{ render_field(form.csrf_token) }}
                        {{ render_field(form.old_ballroom) }}
                        <div id="edit-hotel">
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.full_name) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.company) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.start_date) }}
                                </div>
                                <div class="col">
                                    {{ render_field(form.end_date) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.address) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.pin_code) }}
                                </div>
                                <div class="col">
                                    {{ render_field(form.banquet_area) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.star) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ render_field(form.pan) }}
                                </div>
                                <div class="col">
                                    {{ render_field(form.gst) }}
                                </div>
                            </div>
                        </div>
                        <div id="edit-ballroom">
                            {{ render_field(form.ballroom) }}
                        </div>
                        <div id="select-primary-hotel">
                            {{ render_field(form.primaries) }}
                        </div>
                        <div id="select-secondary-hotel">
                            {{ render_field(form.secondaries) }}
                        </div>
                        <div id="comment">
                            Placeholder comment
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <button type="button" class="btn" id="save-button">Placeholder</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#save-button").on("click", function () {
            $("#hotel-form").submit()
        });
        $("#upload-contract-file").on("click", function () {
            $("#contract_filename").click()
        });
        $("#contract_filename").on("change", function () {
            console.log("file name changed");
            $("#upload-form").submit();
        });
        $("#hotel-modal").on("show.bs.modal", function (event) {
            let form_type = $(event.relatedTarget).data("type");
            let title = $(event.relatedTarget).data("title");
            let old_ballroom = $(event.relatedTarget).data("ballroom");
            $(this).find(".modal-title").text(title);
            $(this).find("#form_type").val(form_type);
            $(this).find("#comment").text("");
            if (form_type === "{{ form.EDIT_PRIMARY_HOTEL }}") {
                $(this).find("#select-primary-hotel").show();
                $(this).find("#select-secondary-hotel").hide();
                $(this).find("#edit-ballroom").hide();
                $(this).find("#edit-hotel").hide();
                $(this).find("#save-button").removeClass().addClass("btn btn-warning").html("Save");
            } else if (form_type === "{{ form.EDIT_SECONDARY_HOTEL }}") {
                $(this).find("#select-secondary-hotel").show();
                $(this).find("#select-primary-hotel").hide();
                $(this).find("#edit-ballroom").hide();
                $(this).find("#edit-hotel").hide();
                $(this).find("#save-button").removeClass().addClass("btn btn-warning").html("Save");
            } else if (form_type === "{{ form.EDIT_HOTEL }}") {
                $(this).find("#edit-hotel").show();
                $(this).find("#select-primary-hotel").hide();
                $(this).find("#select-secondary-hotel").hide();
                $(this).find("#edit-ballroom").hide();
                $(this).find("#save-button").removeClass().addClass("btn btn-warning").html("Save");
            } else if (form_type === "{{ form.NEW_BALLROOM }}") {
                $(this).find("#edit-ballroom").show();
                $(this).find("#ballroom").val("");
                $(this).find("#select-primary-hotel").hide();
                $(this).find("#select-secondary-hotel").hide();
                $(this).find("#edit-hotel").hide();
                $(this).find("#save-button").removeClass().addClass("btn btn-success").html("Create");
            } else if (form_type === "{{ form.EDIT_BALLROOM }}") {
                $(this).find("#edit-ballroom").show();
                $(this).find("#ballroom").val(old_ballroom);
                $(this).find("#select-primary-hotel").hide();
                $(this).find("#select-secondary-hotel").hide();
                $(this).find("#edit-hotel").hide();
                $(this).find("#old_ballroom").val(old_ballroom);
                $(this).find("#save-button").removeClass().addClass("btn btn-warning").html("Save");
            } else if (form_type === "{{ form.REMOVE_BALLROOM }}") {
                $(this).find("#edit-ballroom").hide();
                $(this).find("#select-primary-hotel").hide();
                $(this).find("#select-secondary-hotel").hide();
                $(this).find("#edit-hotel").hide();
                $(this).find("#old_ballroom").val(old_ballroom);
                $(this).find("#comment").text("Are you sure you want to remove " + old_ballroom + "?");
                $(this).find("#save-button").removeClass().addClass("btn btn-danger").html("Delete");
            } else if (form_type === "{{ form.DELETE_CONTRACT }}") {
                $(this).find("#edit-ballroom").hide();
                $(this).find("#select-primary-hotel").hide();
                $(this).find("#select-secondary-hotel").hide();
                $(this).find("#edit-hotel").hide();
                $(this).find("#comment").text("Are you sure you want to delete the contract file from the cloud?");
                $(this).find("#save-button").removeClass().addClass("btn btn-danger").html("Delete");
            }
        });
    </script>
{% endblock %}