{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">
                    Hotels
                    <a type="button" class="badge badge-primary text-white" data-toggle="modal"
                       data-target="#query-modal" data-query-type="hotel" data-title="Edit Hotel Query Parameters">
                        &#9998;
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Hotels<br>
                        {% for hotel in form.selection.hotels %}
                            <span class="badge badge-primary">{{ hotel }}</span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <br>
            <div class="card text-center">
                <h5 class="card-header">
                    Period
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Date<br>
                        <span class="badge badge-primary">01-Aug-2018</span>
                    </li>
                </ul>
            </div>
            <br>
            <div class="card text-center">
                <h5 class="card-header">
                    Event Types
                    <a type="button" class="badge badge-primary text-white" data-toggle="modal"
                       data-target="#query-modal" data-query-type="event" data-title="Edit Event Query Parameters">
                        &#9998;
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Timing
                        <span class="badge badge-primary">{{ form.selection.timing }}</span>
                    </li>
                    <li class="list-group-item">
                        Meal
                        {% for meal in form.selection.meals %}
                            <span class="badge badge-primary">{{ meal }}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        Event
                        <span class="badge badge-primary">{{ form.selection.event }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 text-center">
            {% if form.usage_data|length %}
                <div class="row">
                    <div class="col-md" id="hotel-count-pie" style="height: 400px;"></div>
                </div>
                <div class="row">
                <div class="col-md">
                <table class="table table-bordered table-hover ">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Sr. No.</th>
                        <th class="" scope="col">Hotels</th>
                        <th class="text-center" scope="col">{{ form.usage_data|length }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hotel_count in form.hotel_counts %}
                        <tr {% if hotel_count[0] == current_user.hotel %}
                            class="table-primary font-weight-bold" {% endif %}>
                            <td class="text-center">{{ loop.index }}</td>
                            <td class="">{{ hotel_count[0] }}</td>
                            <td class="text-center">{{ hotel_count[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <strong>No Hotels. Update query criteria.</strong>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
    {% if form.usage_data|length %}
        <br>
        <table id="usage_list" class="table table-bordered table-hover ">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Timing</th>
                <th class="text-center" scope="col">Company</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Event</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Meal</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Type</th>
                <th class="text-center" scope="col">Hotel</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Ballroom</th>
            </tr>
            </thead>
            <tbody>
            {% for usage in form.usage_data %}
                <tr>
                    <td class="text-center">{{ usage.formatted_date }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.timing }}</td>
                    <td class="text-center">{{ usage.company }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.event_description }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.formatted_meal }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.event_type }}</td>
                    <td class="text-center">{{ usage.hotel }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.formatted_ballroom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
    <div class="modal fade" id="query-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Title Placeholder</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="form" method="POST" id="query-form">
                        <div id="event-select">
                            {{ form_group(form.timing) }}
                            {{ form_group(form.meals) }}
                            {{ form_group(form.event) }}
                        </div>
                        <div id="hotel-select">
                            {{ form_group(form.hotels) }}
                        </div>
                        {{ form.csrf_token() }}
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <button type="button" class="btn btn-primary" id="query-button">Query</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $("#query-button").on("click", () => {
            document.forms["query-form"].submit()
        });
        $("#query-modal").on("show.bs.modal", function (event) {
            let query_type = $(event.relatedTarget).data("query-type")
            let title = $(event.relatedTarget).data("title")
            $(this).find(".modal-title").text(title)
            if (query_type === "event") {
                $(this).find("#event-select").show()
                $(this).find("#hotel-select").hide()
            } else if (query_type === "hotel") {
                $(this).find("#hotel-select").show()
                $(this).find("#event-select").hide()
            }
        })
    </script>
    <!--suppress JSUnresolvedVariable, JSUnresolvedFunction -->
    <script>
        google.charts.load("current");
        google.charts.setOnLoadCallback(() => {
            const hotel_count_pie = new google.visualization.ChartWrapper({
                chartType: "PieChart",
                dataTable: [
                    ["Hotel Name", "Hotel Count"],
                    {% for hotel in form.hotel_counts %}
                        ["{{ hotel[0] }}", {{ hotel[1] }}],
                    {% endfor %}
                ],
                containerId: "hotel-count-pie",
            });
            hotel_count_pie.draw()
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#usage_list').DataTable();
        });
    </script>

{% endblock %}
