{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">
                    Hotels
                    <a type="button" class="btn btn-primary text-white" data-toggle="modal"
                       data-target="#query-modal" data-query-type="hotel" data-title="Select Hotels">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{ form.hotel_select.data }}<br>
                        {% for hotel in form.selected_hotels %}
                            <span class="badge badge-primary">{{ hotel }}</span>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <br>
            <div class="card text-center">
                <h5 class="card-header">
                    Filter
                    <a type="button" class="btn btn-primary text-white" data-toggle="modal"
                       data-target="#query-modal" data-query-type="event" data-title="Edit Query Parameters">
                        <span class="oi oi-pencil"></span>
                    </a>
                </h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        From Date <span class="badge badge-primary">{{ form.format_start_date }}</span>
                        <br>
                        To Date <span class="badge badge-primary">{{ form.format_end_date }}</span>
                    </li>
                    <li class="list-group-item">
                        Days
                        <span class="badge badge-primary">{{ form.day.data }}</span>
                    </li>
                    <li class="list-group-item">
                        Timing
                        <span class="badge badge-primary">{{ form.timing.data }}</span>
                    </li>
                    <li class="list-group-item">
                        Meal
                        {% for meal in form.meals %}
                            <span class="badge badge-primary">{{ meal }}</span>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        Event
                        <span class="badge badge-primary">{{ form.event.data }}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 text-center">
            {% if form.usage_data|length %}
                <div class="row">
                    <div class="col-md" id="hotel-count-pie" style="height: 400px;"></div>
                </div>
                <div class="row">
                <div class="col-md">
                <table class="table table-bordered table-hover ">
                    <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Sr. No.</th>
                        <th class="" scope="col">Hotels</th>
                        <th class="text-center" scope="col">{{ form.usage_data|length }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for hotel_count in form.hotel_counts %}
                        <tr {% if hotel_count[0] == current_user.hotel %}
                            class="table-warning font-weight-bold" {% endif %}>
                            <td class="text-center">{{ loop.index }}</td>
                            <td class="">{{ hotel_count[0] }}</td>
                            <td class="text-center">{{ hotel_count[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <strong>No Hotels. Update query criteria.</strong>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
    {% if form.usage_data|length %}
        <br>
        <table id="usage_list" class="table table-bordered table-hover ">
            <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Hotel</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Timing</th>
                <th class="text-center" scope="col">Client</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Meal</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Type</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Ballroom</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Event</th>
            </tr>
            </thead>
            <tbody>
            {% for usage in form.usage_data %}
                <tr>
                    <td class="text-center">{{ usage.hotel }}</td>
                    <td class="text-center">{{ usage.formatted_date }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.timing }}</td>
                    <td class="text-center">{{ usage.client }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.formatted_meal }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.event_type }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.formatted_ballroom }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.event_description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="modal fade" id="query-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Title Placeholder</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="form" method="POST" id="query-form">
                        <div id="hotel-select">
                            {{ radio_field(form.hotel_select) }}
                            {{ form_group_no_error(form.custom_hotels) }}
                        </div>
                        <div id="event-select">
                            <div class="row">
                                <div class="col">
                                    {{ form_group_no_error(form.start_date) }}
                                </div>
                                <div class="col">
                                    {{ form_group_no_error(form.end_date) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ radio_field(form.day) }}
                                </div>
                                <div class="col">
                                    {{ radio_field(form.event) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ radio_field(form.timing) }}
                                </div>
                                <div class="col">
                                    {{ radio_field(form.all_meal) }}
                                    {{ radio_field(form.morning_meal) }}
                                    {{ radio_field(form.evening_meal) }}
                                </div>
                            </div>
                        </div>
                        {{ form.csrf_token() }}
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <button type="button" class="btn btn-primary" id="query-button">Query</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        $(document).ready(function () {
            $("#usage_list").DataTable();
        });

        $("#query-button").on("click", function () {
            $("#query-form").submit();

        });
        $("#query-modal").on("show.bs.modal", function (event) {
            const query_type = $(event.relatedTarget).data("query-type");
            const title = $(event.relatedTarget).data("title");
            $(this).find(".modal-title").text(title);
            if (query_type === "hotel") {
                $(this).find("#hotel-select").show();
                $(this).find("#event-select").hide();
            } else {
                const all_timing = $("#timing-1");
                const morning = $("#timing-2");
                const evening = $("#timing-3");
                if (all_timing.prop("checked")) {
                    all_timing.click();
                } else if (morning.prop("checked")) {
                    morning.click();
                } else if (evening.prop("checked")) {
                    evening.click();
                }
                $(this).find("#event-select").show();
                $(this).find("#hotel-select").hide();
            }
        });
        $(".custom-control-input").click(function () {
            const all_meal = $("#all_meal");
            const morning_meal = $("#morning_meal")
            const evening_meal = $("#evening_meal")
            switch (this.value) {
                case "{{ form.ALL_TIMING }}":
                    all_meal.show();
                    morning_meal.hide();
                    evening_meal.hide();
                    break;
                case "{{ config.MORNING }}":
                    morning_meal.show();
                    all_meal.hide();
                    evening_meal.hide();
                    break;
                case "{{ config.EVENING }}":
                    evening_meal.show();
                    all_meal.hide();
                    morning_meal.hide();
                    break;
            }
        });
    </script>
    {% if form.usage_data|length %}
        <!--suppress JSUnresolvedVariable, JSUnresolvedFunction -->
        <script>
            google.charts.load("current");
            google.charts.setOnLoadCallback(() => {
                const hotel_count_pie = new google.visualization.ChartWrapper({
                    chartType: "PieChart",
                    dataTable: [
                        ["Hotel Name", "Hotel Count"],
                        {% for hotel in form.hotel_counts %}
                            ["{{ hotel[0] }}", {{ hotel[1] }}],
                        {% endfor %}
                    ],
                    containerId: "hotel-count-pie",
                });
                hotel_count_pie.draw();
            });
        </script>
    {% endif %}
{% endblock %}
