{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header">{{ user.name }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>{{ user.email }}</strong>
                    </li>
                    <li class="list-group-item">
                        City<br>
                        <strong>{{ user.city }}</strong>
                        {% if user.role == config.ADMIN %}
                            <a type="button" class="badge badge-warning text-white" data-toggle="modal"
                               data-target="#edit_modal" data-edit-type="city" data-title="Edit City">
                                &#9998;
                            </a>
                        {% endif %}
                    </li>
                    {% if user.role == config.ADMIN %}
                        <li class="list-group-item">
                            Hotel View<br>
                            <strong>{{ user.hotel }}</strong>
                            <a type="button" class="badge badge-warning text-white" data-toggle="modal"
                               data-target="#edit_modal" data-edit-type="hotel" data-title="Edit Hotel">
                                &#9998;
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% if user.role == config.ADMIN %}
        <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Hotel</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body justify-content-center">
                        <form class="form" method="POST" id="edit-form">
                            <div id="hotel-select">
                                {{ form_group(form.hotel) }}
                            </div>
                            <div id="city-select">
                                {{ form_group(form.city) }}
                            </div>
                            <div id="comment">

                            </div>
                            {{ form.csrf_token() }}
                        </form>
                    </div>
                    <div class="modal-footer justify-content-center d-flex">
                        <button type="button" class="btn btn-warning" id="save-button">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% if user.role == config.ADMIN %}
    {% block scripts %}
        {{ super() }}
        <script>
            $("#save-button").on("click", () => {
                document.forms["edit-form"].submit()
            });
            $("#edit_modal").on("show.bs.modal", function (event) {
                let edit_type = $(event.relatedTarget).data("edit-type")
                let title = $(event.relatedTarget).data("title")
                $(this).find(".modal-title").text(title)
                if (edit_type === "hotel") {
                    $(this).find("#city-select").hide()
                    $(this).find("#hotel-select").show()
                    $(this).find("#comment").text("")
                } else {
                    $(this).find("#city-select").show()
                    $(this).find("#hotel-select").hide()
                    $(this).find("#comment").text("If you change the city then your hotel will be reset to Any.")
                }
            })

        </script>
    {% endblock %}
{% endif %}