{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-secondary">
                    <strong>{{ form.hotel.name }}</strong>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-secondary">
                    <strong>{{ form.formatted_date }}</strong> - <strong>{{ form.timing }}</strong>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item">
                    <a type="button" class="btn btn-success text-white" id="create-button">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a type="button" class="btn btn-danger text-white {{ form.display_no_event }}" id="no-event-button">
                        <span class="oi oi-ban"></span>
                    </a>
                    <a class="btn btn-primary {{ form.display_previous }}" href="{{ form.link_previous }}">
                        <span class="oi oi-arrow-thick-left"></span>
                    </a>
                    <a class="btn btn-primary" href="#">
                        <span class="oi oi-calendar"></span>
                    </a>
                    <a class="btn btn-primary {{ form.display_next }}" href="{{ form.link_next }}">
                        <span class="oi oi-arrow-thick-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% if form.usages %}
        <br>
        <table id="usage_list" class="table table-bordered table-hover ">
            <thead class="thead-dark">
            <tr>
                <th class="" scope="col">Client</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Meal</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Type</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Ballroom</th>
                <th class="d-none d-md-table-cell" scope="col">Event</th>
                <th class="text-center" scope="col">
                    <span class="oi oi-pencil"></span>
                </th>
                <th class="text-center" scope="col">
                    <span class="oi oi-trash"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for usage in form.usages %}
                <tr>
                    <td class="">{{ usage.company }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.formatted_meal }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.event_type }}</td>
                    <td class="text-center d-none d-md-table-cell">{{ usage.formatted_ballroom }}</td>
                    <td class="d-none d-md-table-cell">{{ usage.event_description }}</td>
                    <td class="text-center">
                        <a class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                    <td class="text-center text-white">
                        <a class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row">
            <div class="col text-center">
                <strong>No events recorded</strong>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#usage_list').DataTable();
        });
    </script>
{% endblock %}