{% extends "base.html" %}

{% block app_content %}
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-secondary">
                    <strong>{{ form.hotel.name }}</strong>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-secondary">
                    <strong>{{ form.formatted_date }}</strong> - <strong>{{ form.timing }}</strong>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item">
                    <a type="button" class="btn btn-success text-white" data-toggle="modal" data-target="#usage-modal"
                       data-type="{{ form.CREATE }}" data-title="New Event" data-timing="{{ form.timing }}">
                        <span class="oi oi-plus"></span>
                    </a>
                    <a type="button" class="btn btn-danger text-white {{ form.display_no_event }}" data-toggle="modal"
                       data-target="#usage-modal" data-type="{{ form.NO_EVENT }}" data-title="No Event">
                        <span class="oi oi-ban"></span>
                    </a>
                    <a class="btn btn-primary {{ form.display_previous }}" href="{{ form.link_previous }}">
                        <span class="oi oi-arrow-thick-left"></span>
                    </a>
                    <a class="btn btn-primary" href="#">
                        <span class="oi oi-calendar"></span>
                    </a>
                    <a class="btn btn-primary {{ form.display_next }}" href="{{ form.link_next }}">
                        <span class="oi oi-arrow-thick-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% if form.usages %}
        <br>
        <table id="usage_list" class="table table-bordered table-hover ">
            <thead class="thead-dark">
            <tr>
                <th class="" scope="col">Client</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Meal</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Type</th>
                <th class="text-center d-none d-md-table-cell" scope="col">Ballroom</th>
                <th class="d-none d-md-table-cell" scope="col">Event</th>
                <th class="text-center" scope="col">
                    <span class="oi oi-pencil"></span>
                </th>
                <th class="text-center" scope="col">
                    <span class="oi oi-trash"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for usage in form.usages %}
                <tr id="{{ usage.id }}">
                    {% if usage.no_event %}
                        <td colspan="7" class="text-center table-danger"> No event</td>
                    {% else %}
                        <td id="client" class="">{{ usage.company }}</td>
                        <td id="meal" class="text-center d-none d-md-table-cell">{{ usage.formatted_meal }}</td>
                        <td id="event-type" class="text-center d-none d-md-table-cell">{{ usage.event_type }}</td>
                        <td id="ballroom" class="text-center d-none d-md-table-cell">{{ usage.formatted_ballroom }}</td>
                        <td id="event-description" class="d-none d-md-table-cell">{{ usage.event_description }}</td>
                        <td class="text-center">
                            <a type="button" class="btn btn-warning" data-toggle="modal" data-target="#usage-modal"
                               data-type="{{ form.UPDATE }}" data-title="Edit Event" data-id="{{ usage.id }}"
                               data-timing="{{ form.timing }}">
                                <span class="oi oi-pencil"></span>
                            </a>
                        </td>
                        <td class="text-center text-white">
                            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#usage-modal"
                               data-type="{{ form.DELETE }}" data-title="Delete Event" data-id="{{ usage.id }}"
                               data-client="{{ usage.company }}">
                                <span class="oi oi-trash"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row">
            <div class="col text-center">
                <strong>No events recorded</strong>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="usage-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Placeholder Title</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body justify-content-center">
                    <form class="form" method="POST" id="usage-form">
                        {{ form.csrf_token() }}
                        {{ form.form_type() }}
                        {{ form.usage_id() }}
                        <div id="edit-usage">
                            {{ form_group_no_error(form.client) }}
                            <div class="row">
                                <div class="col">
                                    <div id="morning-meal">
                                        {{ radio_field(form.morning_meal) }}
                                    </div>
                                    <div id="evening-meal">
                                        {{ radio_field(form.evening_meal) }}
                                    </div>
                                </div>
                                <div class="col">
                                    {{ radio_field(form.event_type) }}
                                </div>
                            </div>
                            {{ form_group_no_error(form.ballrooms) }}
                            {{ form_group_no_error(form.event_description) }}
                        </div>
                        <div id="comment">
                            Placeholder comment
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <button type="button" class="btn" id="save-button">Placeholder</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#save-button").on("click", function () {
            document.forms["usage-form"].submit();
        });
        $("#usage-modal").on("show.bs.modal", function (event) {
            const form_type = $(event.relatedTarget).data("type");
            const title = $(event.relatedTarget).data("title");
            $(this).find(".modal-title").text(title);
            $(this).find("#form_type").val(form_type);
            $(this).find("#morning_meal-4").prop("checked", true);
            $(this).find("#evening_meal-4").prop("checked", true);
            $(this).find("#event_type-1").prop("checked", true);
            if (form_type === "{{ form.CREATE }}") {
                let timing = $(event.relatedTarget).data("timing");
                $(this).find("#save-button").removeClass().addClass("btn btn-success").html("Create");
                $(this).find("#edit-usage").show();
                $(this).find("#comment").hide();
                $(this).find("#client").val("");
                $(this).find("#event_description").val("");
                $(this).find("#ballrooms").val(null).trigger("change");
                if (timing === "{{ config.MORNING }}") {
                    $(this).find("#morning-meal").show();
                    $(this).find("#evening-meal").hide();
                } else {
                    $(this).find("#evening-meal").show();
                    $(this).find("#morning-meal").hide();
                }
            } else if (form_type === "{{ form.DELETE }}") {
                let usage_id = $(event.relatedTarget).data("id");
                let client = $(event.relatedTarget).data("client");
                $(this).find("#save-button").removeClass().addClass("btn btn-danger").html("Delete");
                $(this).find("#edit-usage").hide();
                $(this).find("#comment").show();
                $(this).find("#comment").text("Are you sure you want to delete the event for " + client + "?");
                $(this).find("#usage_id").val(usage_id);
            } else if (form_type === "{{ form.UPDATE }}") {
                const usage_id = $(event.relatedTarget).data("id");
                const timing = $(event.relatedTarget).data("timing");
                $(this).find("#save-button").removeClass().addClass("btn btn-warning").html("Save");
                $(this).find("#edit-usage").show();
                $(this).find("#comment").hide();
                $(this).find("#usage_id").val(usage_id);
                $(this).find("#client").val($("#" + usage_id + " #client").text());
                $(this).find("#event_description").val($("#" + usage_id + " #event-description").text());
                const rooms = $("#" + usage_id + " #ballroom").text().split(", ");
                $(this).find("#ballrooms").val(rooms).trigger("change");
                const event_type = $("#" + usage_id + " #event-type").text();
                if (event_type === "{{ config.MICE }}") {
                    $(this).find("#event_type-1").prop("checked", true);
                } else if (event_type === "{{ config.SOCIAL }}") {
                    $(this).find("#event_type-2").prop("checked", true);
                } else {
                    $(this).find("#event_type-3").prop("checked", true);
                }
                const meal = $("#" + usage_id + " #meal").text().replace('&', '&amp;');
                if (timing === "{{ config.MORNING }}") {
                    $(this).find("#morning-meal").show();
                    $(this).find("#evening-meal").hide();
                    if (meal === "{{ form.MORNING_MEALS[0] }}") {
                        $(this).find("#morning_meal-1").prop("checked", true);
                    } else if (meal === "{{ form.MORNING_MEALS[1] }}") {
                        $(this).find("#morning_meal-2").prop("checked", true);
                    } else if (meal === "{{ form.MORNING_MEALS[2] }}") {
                        $(this).find("#morning_meal-3").prop("checked", true);
                    } else {
                        $(this).find("#morning_meal-4").prop("checked", true);
                    }
                } else {
                    $(this).find("#evening-meal").show();
                    $(this).find("#morning-meal").hide();
                    if (meal === "{{ form.EVENING_MEALS[0] }}") {
                        $(this).find("#evening-meal-1").prop("checked", true);
                    } else if (meal === "{{ form.EVENING_MEALS[1] }}") {
                        $(this).find("#evening-meal-2").prop("checked", true);
                    } else if (meal === "{{ form.EVENING_MEALS[2] }}") {
                        $(this).find("#evening-meal-3").prop("checked", true);
                    } else {
                        $(this).find("#evening-meal-4").prop("checked", true);
                    }
                }
            } else if (form_type === "{{ form.NO_EVENT }}") {
                $(this).find("#save-button").removeClass().addClass("btn btn-danger").html("Create No Event");
                $(this).find("#edit-usage").hide();
                $(this).find("#comment").show();
                $(this).find("#comment").text("Are you sure there are no events on this day?");
            }
        });
    </script>
{% endblock %}